.top-bar {
    height: 60px;
    background-color: #34495e;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.balance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    /* Add border only to balance container */
    padding: 5px 10px;
    /* Add padding */
    border-radius: 5px;
    /* Optional: add rounded corners */
    margin: 0 auto;
    /* Center the balance container */
}

.balance {
    display: flex;
    align-items: center;
}

.balance svg {
    margin-right: 5px;
}

.profile {
    cursor: pointer;
    position: absolute;
    right: 20px;
}